@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url(/fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  src: local("PT Sans Bold"), url(/fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 7px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.header {
  min-height: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
}

.nav {
  font-family: "PT Sans Bold", "Arial", serif;
  font-size: 20px;
  font-weight: 700;
  width: 460px;
  display: flex;
  flex-flow: row wrap;
}

.nav-list {
  width: 455px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex: wrap;
}

.nav__item {
  margin-right: 35px;
}
.nav__item:nth-child(4n) {
  margin-right: 0px;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link--active {
  border-bottom: 2px solid #756257;
  padding-bottom: 23px;
}

.logo__link {
  margin-right: 210px;
}

.search__link {
  margin-right: 20px;
}

.select__link {
  margin-right: 20px;
}
.search__link:active + .popup-favorite {
  display: block;
}
.header {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.select__link {
  position: relative;
  display: inline-block;
}
.select__link::after {
  position: absolute;
  content: "12";
  background-color:#7DB54F;
  border-radius: 50%;
  top: -13px;
  right: -13px;
  color: #fff;
  width: 17px;
  height: 17px;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 4px;
}
.select__link:active + .popup-favorite {
  display: block;
}
.popup-favorite {
  /* display: none; */
  border-top: 1px solid #e5e5e5;
  display: flex;
  width: 400px;
  min-height: 232px;
  background: #fff;
  z-index: 1;
  position: absolute;
  content: "";
  top: 75px;
  right: 85px;
  box-shadow: 0px 25px 50px 0px #00000026;
  border-radius: 20px;
  padding-top: 28px;
  box-sizing: border-box;
}
.popup-favorite::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 43.5%;
  background-image: url(../img/triangle.svg);
  width: 20px;
  height: 9px;
}
.favorite-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
}
.favorite-item {
  margin-bottom: 25px;
  padding-left: 90px;
  padding-right: 25px;
  box-sizing: border-box;
}
.favorite-item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: auto;
  padding: 0;
  text-align: center;
  background-color:#756257;
  min-height: 60px;
  margin-bottom: 0px;
}
.favorite-item__title {
  margin: 0px;
  color: #000;
  font-size: 18px;
  font-family: "PT Sans Bold","Arial", serif;
  font-weight: 700;
}
.favorite-item__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}
.favorite-link {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: auto;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", serif;
  font-weight: 700;
}
.desert-title {
  position: relative;
}
.favorite-item__title::after {
  position: absolute;
  content: "";
  top: 49%;
  right: 0px;
  background-image: url(../img/favorite-trash.svg);
  width: 16px;
  height: 16px;
}
.desert-title::before {
  top: 0px;
  left: -65px;
  position: absolute;
  content: "";
  background-image: url(../img/desert-small.png);
  width: 48px;
  height: 48px;
}

.villas-title {
  position: relative;
}
.villas-title::before {
  top: 0px;
  left: -65px;
  position: absolute;
  content: "";
  background-image: url(../img/villas-small.png);
  width: 48px;
  height: 48px;
}
.favorite-item__link {
  text-decoration: none;
}
.favorite__link {
  text-transform: uppercase;
  font-size: 16px;
  background-color: #756257;
  padding: 10px 30px;
  border-radius: 4px;
  position: relative;
}

.favorite-list {
  padding: 0;
  margin: 0;
}
.about {
  display: flex;
  background-image: url(../img/header-background.jpg);
  width: 1200px;
  min-height: 485px;
  position: relative;
  margin-bottom: 65px;
}


.about__title+img {
  margin: 0 auto;
  align-self: center;
}

.advantage__text {
  width: 720px;
  margin: 0 auto;
}

.advantage__text--big {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "PT Sans Bold", "Arial", serif;
  font-weight: 700;
  margin-bottom: 23px;
}

.advantage__text--small {
  font-size: 22px;
  color: #333;
  margin-bottom: 80px;
}

.description {
  margin-bottom: 90px;
}

.description-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.description-text-wrapper {
  width: 400px;
  /* padding: 111px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: #fff;
  background-color: #83B3D3;
}

.description__title {
  padding-top: 100px;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 24px;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
}

.description__title+b {
  margin-bottom: 25px;
  font-size: 18px;
}

.description__text {
  width: 220px;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  margin-bottom: 78px;
}

.description-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.description__item {
  width: 400px;
  min-height: 384px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.description__item--house,
.description__item--present {
  background: rgba(131, 179, 211, .12);
}

.description__item--house {
  background-image: url(../img/description-house-logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.description__item--food {
  background-image: url(../img/description-burger-logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.description__item--present {
  background-image: url(../img/description-present-logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.description__item--title {
  font-size: 24px;
  width: 135px;
  font-family: "PT Sans Bold", "Arial", serif;
  font-weight: 700;
  margin: 0px;
  padding-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.description__item--text {
  color: #333;
  margin: 0px;
  width: 250px;
  text-align: center;
}

.description__item--title+b {
  margin-bottom: 25px;
}

.description__item--number:nth-child(2n) {
  background: rgba(131, 179, 211, .2);
}

.description__item--number:first-child,
.description__item--number:last-child {
  background: rgba(131, 179, 211, .12);
}

.interested {
  text-align: center;
  margin-bottom: 90px;
}

.interested__title {
  margin: 0;
  font-size: 30px;
  font-family: "PT Sans Bold", "Arial", serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.interested__text {
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 73px;
  width: 720px;
}

.interested__search__button {
  width: 575px;
  text-transform: uppercase;
  font-size: 20px;
  background: #756257;
  border: #756257;
  padding: 15px 125px;
  border-radius: 10px;
}
.popup-search:active body{
  background: rgba(rgba(242, 242, 242, 0.8));
}
.popup-search {
  position: fixed;
  top: 395px;
  left: 20%;
  background-color: #fff;
  border-radius: 30px;
  width: 715px;
  min-height: 560px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 55px);
  box-sizing: border-box;
  padding: 62px 60px;
}
.popup-search__title {
  margin: 0;
  width: 500px;
  font-size: 30px;
  font-family: "PT Sans Bold", "Arial", serif;
  text-transform: uppercase;
  grid-column: 1/3;
}
.popup-search__close {
  margin-left: auto;
  border: none;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.popup-search__close::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background: #000;
  top: 49%;
  left: 32%;
  transform: rotate(45deg);
}
.popup-search__close::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background: #000;
  top: 49%;
  right: 30%;
  transform: rotate(-45deg);
}
.search-form {
  grid-row: 2/-1;
  grid-column: 1/-1;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans Bold", "Arial", serif;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  position: relative;
}
.search-form__label {
  width: 130px;
  margin-bottom: 40px;
  margin-right: auto;
}
.search-form__input {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  box-sizing: border-box;
  padding: 18px;
  border:none;
  border-radius: 4px;
  background-color: #F2F2F2;
  margin-bottom: 40px;
  width: 420px;
  min-height: 50px;
  background: #F2F2F2;
}
.search-form__input--error {
  font-family: "PT Sans", "Arial", serif;
  font-weight: 400;
  color: #FF5757;
  position: absolute;
  top: 90px;
  right: 100px;
  content: "";
}
.search-form__input--booking {
  font-family: "PT Sans", "Arial", serif;
  font-weight: 400;
  position: absolute;
  bottom: -12px;
  right: 45px;
  content: "";
}
.younger-label {
  position: relative;
  margin-left: 55px;
  width: auto;
}
.younger-label::before {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 67px;
  content: "";
  width: 1px;
  height: 9px;
  background-image: url(../img/search-form-info.svg);
  background-repeat: no-repeat;
}
.younger-label::after {
  position: absolute;
  top: 10px;
  right: 55px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/search-form-info.svg);
  background-repeat: no-repeat;
  background-color: #83B3D3;
  border-radius: 50%;
}
.older-input,
.younger-input {
  box-sizing: border-box;
  width: 135px;
}
.search-form__submit {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 100%;
  min-height: 60px;

}
.distribution {
  width: 1200px;
  min-height: 411px;
  background-image: url(../img/footer-background.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.distribution__title {
  font-size: 30px;
  width: 720px;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.distribution__text {
  font-size: 22px;
  width: 720px;
  margin: 0px;
  margin-bottom: 25px;
}
.distribution-form__email {
  border: #fff;
  border-radius: 10px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0px;
  width: 600px;
  min-height: 60px;
}
.distribution-form__submit {
  background-color: #83B3D3;
  border-radius: 10px;
  font-size: 18px;
  box-sizing: border-box;
  width: 200px;
  padding: 0px;
  margin: 0px;
  min-height: 61px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}
.contacts {
  min-height: 120px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.social__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__tel {
  font-weight: 400;
  font-size: 40px;
  color: #000;
  text-decoration: none;
}


/* inner-page */
.filter {
  width: 1200px;
  min-height: 408px;
  background: url(../img/catalog-sort-background.jpg);
  background-repeat: no-repeat;
  color: #fff;
  padding: 35px 70px;
  box-sizing: border-box;
}
.filter__title {
  font-size: 60px;
  margin: 0px;
  margin-bottom: 5px;
}
.filter-breadcrumb-list {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
}
.filter__breadcrumb--item:not(:last-child,:first-child) {
  margin-right: 25px;
}
.filter__breadcrumb--item:first-child {
  padding-left: 35px;
}
.filter-breadcrumb--home a:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url(../img/home-breadcrumb.svg);
  background-repeat: no-repeat;
}
.filter__breadcrumb--item {
  position: relative;
}
.filter__breadcrumb--link::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 21px;
  width: 5px;
  height: 8px;
  background-image: url(../img/arrow-breadcrumb.svg);
}
.filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  min-height: 150px;
}
.filter-form--fieldset {
  border: none;
  padding: 0;
}
.filter-form--legend {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.filter__infrastructure {
  column-gap: 65px;
}
.infrastructure__item {
  position: relative;
}
.infrastructure__item input{
  outline: none;
  z-index: -1;
  position: absolute;
}
.infrastructure__item input + label::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff;
}
.infrastructure__item input:checked + label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  color: #3F5E72;
  background-image: url(../img/form-tick.svg);
}
.filter-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.filter-item  label{
  font-size: 18px;
  padding-left: 40px;
}
.filter-form--fieldset  input{
  color: #fff;
  border: 2px #fff solid;
  padding: 19px 11px ;
  background: transparent;
  border-radius: 4px;
}
.filter-item {
  margin-bottom: 15px;
}
.type__item input {
  /* display: none; */
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.type__item input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.type__item input:checked + label::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}
.type__item label {
  position: relative;
}
.type__item label::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}
.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 160px;
  padding-top: 55px;
}
.filter-form__submit {
  border-radius: 4px;
  border: none;
  background: #83B3D3;
  color: #fff;
  padding: 20px 20px;
  width: 160px;
  min-height: 48px;
}
.filter-form__reset {
  border: none;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  padding: 20px 20px;
  width: 160px;
  min-height: 48px;
}
.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}
.sort__title {
  margin: 0px;
  font-size: 30px;
  font-family: "PT Sans Bold", "Arial", serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sort__details [open]{
  min-height: 200px;
}
.sort__details summary {
  border:1px solid #e5e5e5;
  padding: 12px 19px;
}
.details-list {
  position: absolute;
  margin: 0px;
  margin-left: 40px;
  padding: 0px;
  list-style: none;
}
.details-list a {
  color: #000;
  text-decoration: none;
}
.sort-button-list {
  width: 160px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.sort__view-button {
  width: 48px;
  height: 48px;
  background: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort__view-button--active {
  border-color: #000;
}
.result-list {
  padding: 0;
  margin: 0;
}
.result__item {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: repeat(4, 40px);
  border-top: 1px solid #e5e5e5 ;
  padding-top: 30px;
  position: relative;
}
.result__item img {
  grid-row: 1/-1;
}
.result__link--title {
  grid-row: 1/2;
  text-decoration: none;
}
.result__item--title {
  width: 211px;
  margin: 0px;
  color: #000;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  grid-row: 2/3;
}
.result__item__text--wrapper {
  grid-row: 2/3;
  margin: 0px;
}
.result-button-wrapper {
  grid-row: 3/3;
  grid-column: 2/5;
}
.result__more--button {
  text-align: center;
  width: 150px;
  min-height: 37px;
  padding: 7px 20px;
  border:1px solid  #756257;
  background: #756257;
}
.result__favorite--button {
  text-align: center;
  width: 160px;
  min-height: 37px;
  border:1px solid  #83B3D3;
  padding: 10px 20px;
  background: #83B3D3;
}
.favorite__button--active {
  background: #7DB54F;
}
.raiting-button {
  grid-row: 3/-2;
  width: 160px;
  min-height: 37px;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  color: #000;
}
.result__item:last-child {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.result-one-star {
  position: absolute;
  content: "";
  background-image: url(../img/star-raiting.svg);
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  top: 35px;
  right: 6%;
}
.result-two-star {
  position: absolute;
  content: "";
  background-image: url(../img/star-raiting.svg);
  width: 35px;
  height: 17px;
  background-repeat: repeat-x;
  top: 35px;
  right: 5%;
}
.result-three-star {
  position: absolute;
  content: "";
  background-image: url(../img/star-raiting.svg);
  width: 53px;
  height: 17px;
  background-repeat: repeat-x;
  top: 35px;
  right: 5%;
}
.result-four-star {
  position: absolute;
  content: "";
  background-image: url(../img/star-raiting.svg);
  width: 72px;
  height: 17px;
  background-repeat: repeat-x;
  top: 35px;
  right: 4%;
}
.result-five-star {
  position: absolute;
  content: "";
  background-image: url(../img/star-raiting.svg);
  width: 89px;
  height: 17px;
  background-repeat: repeat-x;
  top: 35px;
  right: 3%;
}
.load-button-wrapper {
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-self: center;
}
.load-button {
  width: 625px;
  min-height: 55px;
  background-color: #83B3D3;
  border: 1px solid #83B3D3;
}
.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-list {
  padding: 30px 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.page__item:not(:last-child) {
  margin-right: 5px;
}
.page__link {
  width: 55px;
  min-height: 55px;
  background: #83B3D3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__link--active {
  background: #e5e5e5;
  color: #000;
}
.hotels-page-form__label {
  margin-right: 50px;
}
.hotels-page-form__select {
  padding: 13px 17px;
  width: 160px;
  min-height: 48px;
}
.distribution-inner {
  background-image: none;
  color: #000;
}
.distribution-form__email--inner {
  background-color: #e5e5e5;
  border: #e5e5e5;
}
